<div>
    <div class="nav_container">
        <h2><a (click)="routeToHome()">E.COM POC</a></h2>
        <div class="nav_search">
            <input type="text" name="search" >
            <button class="btn" (click)="routeToSearchResults()">Search</button>
        </div>
        <div>
            <button class="btn" (click)="routeToRegisterPage()">Register</button>
             <!-- <button class="btn" (click)="routeToLoginPage()">Login</button> -->
         </div>
    </div>
    <form action="#">
        <div class="container">
            <h2>Reset Password</h2>
            <div class="in_con">
                <label>Email</label>
                <input type="email" [(ngModel)]="resetPasswordObj.email" name="email" placeholder="enter email">
            </div>
            <br />
            <div class="in_con">
                <label>New Password</label>
                <input type="text" [(ngModel)]="resetPasswordObj.password" name="Password" placeholder="enter new password">
            </div>
            <br />
            <button class="f_btn" type="button" (click)="resetPassword()">Reset</button>
            <a class="forget_password" (click)="routeToLoginPage()">Back to Login!</a>
        </div>
    </form>
</div> 
