<div>
    <div class="nav_container">
        <h2><a (click)="routeToHome()">E.COM POC</a></h2>
        <div class="nav_search">
            <input type="text" name="search" >
            <button class="btn" (click)="routeToSearchResults()">Search</button>
        </div>
        <div>
            <button class="btn" (click)="routeToRegisterPage()">Register</button>
            <!-- <button class="btn" (click)="routeToLoginPage()">Login</button> -->
        </div>
    </div>
    <form action="#">
        <div class="container">
            <h2>Login</h2>
            <div class="in_con">
                <label>Email</label>
                <input type="email" [(ngModel)]="loginObj.email" name="Email" placeholder="enter email">
            </div>
            <br />
            <div class="in_con">
                <label>Password</label>
                <input type="text" [(ngModel)]="loginObj.password" name="Password" placeholder="enter password">
            </div>
            <br />
            <button class="f_btn" type="button" (click)="onLogin()">Login</button>
            <a class="forget_password" (click)="onResetLogin()">Forget Password?</a>
        </div>
    </form>
</div>